# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# figma : https://www.figma.com/proto/JDvrlUYC8qrQCjmkZFJTxF/Portfolio-website-2025--Community-?node-id=113-4&p=f&t=P509sE1WNPY2YFdn-0&scaling=min-zoom&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=113%3A4